body {
  font-family: "Outfit", sans-serif;
}

.page-border {
  background-color: #fbf2d5;
  border-style: solid;
  border-radius: 25px;
  border-color: #394a51;
  border-width: 10px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

h1 {
  font-size: 100px;
  color: rgb(66, 62, 62);
  text-align: center;
  margin-left: 0;
}

.temperature-units {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: rgb(66, 62, 62);
}

h4 {
  text-align: center;
}

.clearfix {
  max-width: 45%;
}
.days-of-the-week {
  padding: 0;
  margin: 0 auto;
}
.temperatures {
  position: relative;
  top: -32px;
}

.date {
  text-align: center;
  font-size: 12px;
}

.lower-one {
  text-align: center;
  font-size: 12px;
}

.tactual {
  text-align: center;
  color: #394a51;
  font-size: 80px;
}
.lower-two {
  text-align: center;
  font-size: 12px;
}

.actual-icon {
  color: #423e3e;
  font-size: 40px;
  margin-right: 30px auto;
  /*alinhar imagrm ao centro*/
}
.col-6 {
  width: 40%;
}

.other-data {
  width: 40%;
  font-size: 12px;
  text-align: left;
  position: relative;
  left: -30px;
  top: 55px;
}

.cloud-icon {
  color: #423e3e;
}

.sun-icon {
  color: #fdc57b;
}

.ray-icon {
  color: #fdc57b;
}

.wind-icon {
  color: #423e3e;
}

.rain-icon {
  color: #423e3e;
}
.form-control {
  /*display: block;*/
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-button {
  margin: 20px 0 20px 0;
  background-color: #394a51;
  border: 1px solid white;
  color: #fbf2d5;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  /*position: relative;
  left: -50px;
 */
}

.location-button {
  margin: 20px 0 20px 0;
  background-color: #394a51;
  border: 1px solid white;
  color: #fbf2d5;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  /*
   
   position: relative;
  left: -70px;*/
}
.btn-primary:hover {
  color: #423e3e;
  background-color: white;
  border-color: #423e3e;
}
.author {
  text-align: center;
  font-size: 12px;
  color: rgb(168, 167, 167);
}
